<div class="content mat-elevation-z4">
  <app-toolbar-title title="Cursos" icon="fa-solid fa-graduation-cap">
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </app-toolbar-title>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
    praesentium eaque nihil nesciunt blanditiis odio delectus labore, debitis
    tempore aliquid illum illo minima harum asperiores, temporibus nam rerum,
    libero sed.
  </p>
</div>
